@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<pre>

    FootBall Registration Site where you can
        - Check Current Weather Conditions
        - Choose and Rent Playing Field
        - Choose and Rent Equipment
        - Choose and Rent Coach

</pre>
